@use '../../../scss/variables.scss';
@use '../../../scss/mixins.scss';

.auth {
  height: calc(100vh - #{variables.$header-height});
  width: calc(100vw - #{variables.$navigation-width});
  display: flex;
  justify-content: center;
  &__content {
    width: 40.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: variables.$text-color;
    & h4 {
      font-size: 1.875rem;
    }
    & input {
      width: 90%;
      padding: 0.9rem;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      border-radius: 5px;
      background: variables.$input-background;

      &:focus {
        background-color: variables.$input-hover;
        outline: none;
      }
    }
  }
  &__content-close {
    position: absolute;
    right: 2rem;
    top: 5px;
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
    background: none;
    border: 0;
    cursor: pointer;
    outline: 0;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0.9rem;
      content: " ";
      height: 2rem;
      width: 2px;
      background-color: variables.$close-button;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__content-login {
    @include mixins.button;
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 650px) {
  .auth__content {
    width: 31.25rem;
  }
}

@media screen and (max-width: 500px) {
  .auth__content {
    width: 25rem;
  }
}

@media screen and (max-width: 400px) {
  .auth__content {
    width: 18.75rem;
  }
}
