@use '../../../../scss/variables.scss';

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../../../assets/logo-font.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

.logo {
  margin: 0;
  padding: 0.75rem 0.9rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: variables.$text-color;
}
