@use '../../../../scss/variables.scss';
@import '../../../../scss/fonts.scss';

.logo {
  font-family: 'Inter';
  margin: 0;
  padding: 0.75rem 0.9rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: variables.$text-color;
}
