@use '../../../scss/variables.scss';

.navigation {
    width: 50px;
    min-height: calc(100vh - #{variables.$header-height});
    height: 100%;
    position: absolute;
    left: 0;
    background-color: variables.$background-color;
    &__link {
        padding: 10px;
    }
}