@use '../../../scss/variables.scss';

.header {
  height: variables.$header-height;
  background-color: variables.$background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__buttons {
    display: flex;
  }
}
