@use '../../../scss/mixins.scss';
@use '../../../scss/variables.scss';

.expense-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper {
        width: 100%;
        height: calc(100% - #{variables.$header-height});
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__content-border {
        @include mixins.content-border-balances();
        margin-top: 5rem;
        margin-right: 0;
    }
    &__title {
        margin-left: 3rem;
    }
}