@use '../../../../scss/variables.scss';

.navigation {
    width: 50px;
    height: calc(100vh - #{variables.$header-height});
    background-color: variables.$background-color;
    &__link {
        padding: 10px;
    }
}