@use '../../../../scss/variables.scss';

.content-border {
  width: 33.75rem;
  height: 15.25rem;
  background: variables.$text-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}
