@use '../../../../scss/variables.scss';

.content-border {
  width: 33.75rem;
  height: 15.25rem;
  background: variables.$text-color;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}
