@use '../../../scss/variables.scss';
@use  '../../../scss/mixins.scss';

.main-page {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__statistic {
        margin: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    &__content-border {
        @include mixins.content-border();
    }
}